
<app-wrapper>
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="owner-avatar">
                <img src="{{repository?.owner?.avatar_url}}" alt="Photo of the owner">
            </div>
            <mat-card-title>{{repository?.name}}</mat-card-title>
            <mat-card-subtitle>{{repository?.full_name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p [ngClass]="{'descrption' : repository?.description != null }">
                {{repository?.description != null ? repository?.description :"There's no description"}}
            </p>
            <div class="stars-count">
                <mat-icon>star</mat-icon>
                <p>
                    <mat-card-subtitle>{{repository?.stargazers_count}}</mat-card-subtitle>
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="searchForCommits()" mat-raised-button color="primary">Search for Commits</button>
        </mat-card-actions>
    </mat-card>
</app-wrapper>

<div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner strokeWidth="3" [diameter]="80" *ngIf="isLoading"></mat-spinner>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.author.name}} </td>
    </ng-container>
    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Url </th>
        <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>
    <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>